.cont{
    display: grid;
    border-style: inset;
    position: relative;
    height: 300px;
    float:left;
    width:30%;
    margin: 10px;
    text-align: center;
}

.left{
    display: flex;
    justify-content: center;
    align-self: center;
}
