body {
  margn: 0;
  padding: 0;
}

.star-wrapper {
  position: relative;
}

.stars {
  background-image: url("https://assets.codepen.io/13090/stars_1.png");
  background-repeat: none;
  background-position: 0 0;
  width: 355px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.star-wrapper input{
  opacity:0;
  cursor:pointer;
  width: 50px;
  height: 50px;
}


.buttons{
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}


#one-star:checked ~ .stars{
  background-position: 0 -81px;
}

#two-stars:checked ~ .stars {
  background-position: 0 -162px;
}

#three-stars:checked ~ .stars {
  background-position: 0 -243px;
}

#four-stars:checked ~ .stars {
  background-position: 0 -324px;
}

#five-stars:checked ~ .stars {
  background-position: 0 -405px;
}
