.album{
  float: left;
  height: 80%;
  width: 80%;
  padding: 10px;
  background-color: #DFDCEA;
  border-style: inset;
  font-size: x-small;
}
.container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(23%,1fr));
}

.cent{
  text-align: center;
  justify-content: center;
  font-size: xx-large;
}

.arts{
  float: left;
  width: 35%;
  height: 100%;
}

.info{
  font-size: medium;
  padding-left: 2%;
  float: left;
  width: 62%;
  height: 100%;
}

.art{
  float: left;
  width: 100%;
  height: 100%;
}
