.albums{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.album{
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  grid-gap: 5px;
}

.cent{
  text-align: center;
  justify-content: center;
}

.art{
  width: 100%;
}

