* {
  box-sizing: border-box;
}


.Box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
  justify-content: center;
}


.container{
    width: 100%;
    height: 500px;
    border: 0ch;
    border-style: dashed;
    border-color: yellow;
}


.tf {
  width: 40%;
}

.fifth {
  width: 20%;
}

.foot{
    align-items: center;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
}


.head{
    height: 100px;
}
